<!--@subject Email - Footer @-->
			<table width="580" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0; background-color:#FFF;">
				<tbody>

				<tr>
					<td valign="top" style="border:none;" colspan="2">
						<hr style="background-color: #e1e1e1; border: medium none; height: 1px; margin: 40px 70px 20px;" />
					</td>
				</tr>

				<tr align="center">
					<td valign="top" style="border:none; padding-bottom: 30px;" colspan="2">
						<p style="color:#9E9E9E; font-weight:normal; font-size:14px; margin:0px 0px 20px; padding:0 70px; text-align: center; line-height:20px;">
							Se tiver qualquer dúvida, entre em contato com a gente!
						</p>
						<img src="http://www.musculacaofeminina.com.br/-img-email-transacional/contato.png" width="415" height="49" alt="Contato" />
					</td>
				</tr>

				</tbody>
			</table>

			<table width="675" cellspacing="0" cellpadding="0" style="border:0px; border-collapse: collapse; border-spacing: 0; margin-top:0px; margin-bottom:20px;">
				<tbody>
					<tr align="center">
						<td valign="top" style="border:none;">
							<p style="color:#9E9E9E; font-weight:300; font-size:12px; margin:20px 0px; padding:0 70px; line-height: 17px;">
								Este e-mail foi enviado por um sistema automático. Solicitamos não responder a esta mensagem. Para entrar em contato conosco, envie um e-mail para atendimento@musculacaofeminina.com.br
							</p>
						</td>
					</tr>
				</tbody>
			</table>

			</td>
		</tr>
	</tbody>
</table>
<!-- End wrapper table -->
</body>
</html>
