<!--@subject Confirmação de redefinição de senha para {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"store url=\"adminhtml/index/resetpassword/\" _query_id=$user.id _query_token=$user.rp_token":"Reset Password URL",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}

<table width="580" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0; margin-top:30px; background-color:#FFF;">
  <tbody>
  <tr>
      <td valign="top" style="border:none; background-color:#823486; color:#FFF; font-size:25px; font-weight:bold; text-align:center; padding: 40px 0;" colspan="2">
          Confirmação de redefinição de senha para {{var user.name}}
      </td>
  </tr>
    <tr align="center">
      <td valign="top" style="border:none;" colspan="2">
      	<p style="color:#BD74AB; font-family:Arial; font-weight:bold; font-size:18px; margin:20px 0px; padding:0 50px;">Olá, {{htmlescape var=$customer.name}}!</p>
        <p style="color:#9E9E9E; font-family:Arial; font-weight:normal; font-size:14px; margin:0px 0px 20px; padding:0 90px;">Recebemos um pedido para alteração da sua senha de acesso ao painel Geográfica Editora.</p>
        <p style="color:#9E9E9E; font-family:Arial; font-weight:normal; font-size:14px; margin:0px 0px 20px; padding:0 90px;">
        Para confirmar essa solicitação e alterar os seus dados, por favor, clique no link abaixo:<br />
        <a style="font-weight:bold; text-decoration:underline;color:#9E9E9E;" href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a>
        </p>
        <p style="color:#9E9E9E; font-family:Arial; font-weight:normal; font-size:14px; margin:0px 0px 20px; padding:0 90px;">
			Se a página não abrir, copie e cole o endereço acima em seu navegador!
		</p>
        <p style="color:#9E9E9E; font-family:Arial; font-weight:normal; font-size:14px; margin:0px 0px 20px; padding:0 90px;">
			<strong>Atenção</strong><br/>
			Se você não fez essa solicitação, por favor, desconsidere essa mensagem.
		</p>  
      </td>
    </tr>
    <tr align="center">
      <td valign="top" style="border:none;" colspan="2">
        <p style="color:#9E9E9E; font-family:Arial; font-weight:normal; font-size:14px; margin:0px 0px 5px; padding:0 90px;">Em caso de dúvidas, entre em contato com nossa<br /><a style="font-weight:bold; text-decoration:underline;color:#9E9E9E;" href="">Central de Atendimento</a>.</p>
        <p style="color:#9E9E9E; font-family:Arial; font-weight:normal; font-size:14px; margin:0px 0px 5px; padding:0 90px;">Atenciosamente,</p>
        <p style="color:#BD74AB; font-family:Arial; font-weight:bold; font-size:14px; margin:0px 0px 20px; padding:0 90px;">Musculação Feminina</p>
       </td>
    </tr>
  </tbody>
</table>

{{template config_path="design/email/footer"}}