<?xml version="1.0"?>
<config>
	<modules>
		<MillenniumMGT_Bundle>
			<version>1.0.0</version>
		</MillenniumMGT_Bundle>
	</modules>
	<global>
		<models>
			<millenniummgt_bundle>
				<class>MillenniumMGT_Bundle_Model</class>
			</millenniummgt_bundle>
		</models>
		<helpers>
			<millenniummgt_bundle>
				<class>MillenniumMGT_Bundle_Helper</class>
			</millenniummgt_bundle>
		</helpers>	
	</global>
</config>	