<?xml version="1.0"?>
<config>
	<modules>
		<MillenniumMGT_Configurable>
			<version>1.0.0</version>
		</MillenniumMGT_Configurable>
	</modules>
	<global>
		<models>
			<millenniummgt_configurable>
				<class>MillenniumMGT_Configurable_Model</class>
			</millenniummgt_configurable>
		</models>
		<helpers>
			<millenniummgt_configurable>
				<class>MillenniumMGT_Configurable_Helper</class>
			</millenniummgt_configurable>
		</helpers>	
	</global>
</config>	